.footer-img img {
    width: 25%;
    height: 25%;
  
    align-items: center;
    margin: 0 auto;

}
header {
    margin: 0;
}
header img {
    width: 10%;
    height: 10%;
   
}

.container-fluid {
    margin: -10px; 
}